:root{
    --colorRojo: #000000;
    --ColorRojo_fondo: rgba(255, 0, 0);
}

#Bloque_decorativo {
    display: flex;
    align-items: center;
    background-color: var(--ColorRojo_fondo);
    margin: 0;
    height: 100px;
}

#Barra_arriba_a {
    text-decoration: none;
    font-size: 30px;
    color: var(--colorRojo);
    margin-right: auto;
    padding-left: 20px;
}

#img_AAAJ {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: 20px;
}
